@using System.Web.Optimization;

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <link href="~/Content/Site2.css" rel="stylesheet" />
    <script src="~/Scripts/script.js"></script>

    @RenderSection("SearchEngine", false)
</head>
<body>
    <div id="globalDiv">

        <div id="headerDiv">
            <span>Онлайн справочник лекарственных растений</span>
        </div>

        <div id="searchDiv">
            @Html.Partial("_SearchLetters")
            @Html.Partial("_searchBlock")
        </div>

        <div id="mainPageDiv">


            <div id="contentDiv">
                @RenderSection("Body")
            </div>


        </div>

        
    </div>
    
</body>
</html>
