@using System.Web.Optimization;

<!DOCTYPE html>
<html>
<head>

    <title>@ViewBag.Title</title>
    
    <link href="~/Content/Site_mobile.css" rel="stylesheet" />
    <script src="~/Scripts/script_mobile.js"></script>
    <link rel="shortcut icon" type="image/png" href="~/Content/favicon.png"/>
    <link rel="icon" type="image/png" href="~/Content/favicon.png" />
    @RenderSection("SearchEngine", false)
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-68237835-1', 'auto');
    ga('send', 'pageview');

    </script>
</head>
<body>
    <div id="antiScrollBar">
        <div id="globalDiv">
            
            <div id="headerDiv">
                <img src="~/img/title.png" />
            </div>

            <div id="searchDiv">
                @Html.Partial("_SearchLetters")
                @Html.Partial("_searchBlock")
            </div>

            <div id="googleAds">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display: block"
                     data-ad-client="ca-pub-4409879172881990"
                     data-ad-slot="5724711862"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>

            <div id="mainPageDiv">
                <div id="contentDiv">
                    @RenderSection("Body")
                </div>


            </div>
           

        </div>
    </div>
</body>
</html>
